<h2>Listando <%= @members.count %> Participantes</h2>

<ul class="members">
  <% @members.each do |member| %>
    <li>
      <span class="avatar"><%= image_tag member.avatar(50) %></span>
      <span class="name"><%= member.name %></span>
      <span class="location"><%= member.location %></span>
      <span class="more"><%= link_to '+info', member_path(member.username) %></span>
    </li>
  <% end %>
</ul>
